<table>
  <tbody>
    <thead class="usertable">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col">Celular</th>
      </tr>
    </thead>
    <% let i=1; dados.forEach(user => {%>
      <tr <% req.session.loggedin) { 
        <td><%= user.id  %></td>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
        <td><%= user.sennha  %></td>
        <td><%= user.celular  %></td>
      </tr>
      <% index++;}); %>

  
  </tbody>
</table>
